.navbar {
  overflow: hidden;
  background-color: #ddd;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 50px;
}

.navbar a:hover {
  background: #154360;
  color: #f2f2f2;
}

a.active{
  background: #154360;
  color: #f2f2f2;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-image: url('bgimage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin:0;
}

.container{
  margin-top: 65px;
  color: #f2f2f2;
}

h2{
  font-style: italic;
  text-align: center;
  font-size: 30px;
}

.image, .content{
  float:left;
  margin-left: 2.5%;
}

.content{
  margin-top: 2.5%;
  margin-left: 20%;
}

a.button {
  font-family: "Times New Roman", Times, serif;
  background-color: #f2f2f2;
  color: black;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-color: #f2f2f2;
  border-radius: 10px;
}

a.button:hover{
  background-color: grey;
  border-color: grey;
  color: #f2f2f2;
}
